body {
  background-color:black;
  text-align: center;
  font-family: serif;
  color:#e3e3e3;
  font-size:20px;
}
h2 {
  font-family: "Fantasy";
  color: black;
  text-align: center;
  background-color:#FFFF32;
  font-size: 35px;
}