body {
  background-color:black;
  text-align: center;
  font-family: serif;
  color:#696969;
  font-size:40px;
}
h2 {
  font-family: "sans-serif";
  color: #FFFF32;
  text-align: center;
  background-color:#000039;
  font-size: 30px;
}