body {
  background-color:black;
  text-align: center;
  font-family: serif;
  color:#cfcfcf;
  font-size:20px;
}
h2 {
  font-family: "Brush Script MT", cursive;
  color: black;
  text-align: center;
  background-color:#FFFF32;
  font-size: 35px;
}
form{
    padding: 0.8em;
}
